[submodule "OneDrive/Desktop/JS-ChaiCode/OneDrive/Desktop/JS-ChaiCode/Javascrip"]
	path = OneDrive/Desktop/JS-ChaiCode/OneDrive/Desktop/JS-ChaiCode/Javascrip
	url = https://github.com/Krishnaraj-06/Javascript.git
